.select-control{
  padding: 10px;
  width: 200px;
}
button{
  padding: 10px;
  background-color: rgb(38, 126, 38);
  color: white;
  border-radius: 0;
  border-color: rgb(33, 104, 33);
  cursor: pointer;
}